<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h2 th:text="'Bun venit, ' + ${client.nume} + ' ' + ${client.prenume} + '!'"></h2>

    <div class="container-butoane">
        <a th:href="@{'/bilete/' + ${client.id_client}}" class="btn-link">Vezi biletele tale</a>
        <a th:href="@{/cumpara-bilet}" class="btn-link">Cumpara Bilete</a>
        <a th:href="@{/spectacole}" class="btn-link">Vezi spectacolele</a>
        <a th:href="@{/locatii}" class="btn-link">Vezi locațiile</a>
        <a th:href="@{/recomandari}" class="btn-link">Vezi recomandări spectacole</a>
        <a th:href="@{/logout}" class="btn-link">Logout</a>
    </div>
</div>
</body>
</html>
